@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Aplicativo {
  margin: 5px;
  background-color: #FAFAFA;
  font-family: 'Poppins', sans-serif;
}

.Aplicativo input {
  width: 180px;
  height: 20px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 40px;
  outline: 1px solid #c2c2c2;
  border: 1px solid rgb(30,178,247);
  background-color: rgb(139, 193, 218);
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form div p {
  font-weight: bold;
}

.Resultado {
  width: 80%;
  padding: 10px;
  margin-top: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
}

.Resultado_Total {
  color: darkblue;
  font-weight: bold;
  text-align: center;
  background-color: tomato;
}